* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    color: #39a6b2
}

/* apply styles to <header> */
header {
    padding: 1.25em 2.1875em;
    background-color: #39a6b2
}
header h1 {
    font-weight: bold;
    font-size: 2.25em;
    color: #fce138;
    margin: 0; 
    display: inline;
}
header a {
    text-decoration: none;
    color: #fce138;
}
header nav {
    float: right;
    margin: .04375em 0;
}
header nav ul li {
    display: inline;
    margin: 0 1.875em;
    font-weight: lighter;
    font-size: 1.375em;
}
/* Apply Styles to Footer */
footer {
    background: #fce138;
    width: 100%;
    padding: 2.5em 2.1875em;
}
footer h2 {
    display: inline;
    color: #024e76;
    font-size: 1.875em;
    margin: 0;
}
footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}
footer a {
    color: #024e76;
}

section {
    padding: 3.75em;
}

/* Hero Style Start */
.hero {
    background-image: url(../images/hero-bg.jpg);
    height: 37.5em;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-form {
    background-color: #fce138;
    padding: 1.25em;
    width: 31.25em;
    color: #024e76;
    border: solid 0.1875em #024e76;
    position: absolute;
    bottom: 7.5em;
    right: 8.75em;
}

.hero-form h3 {
    margin: 0;
    font-size: 1.5em;
}

.hero-form p {
    margin: 0.3125em 0 0.9375em 0;
}

.form-input {
    border: 0.0625em solid #024e76;
    display: block;
    padding: 0.4375em 0.9375em;
    font-size: 1em;
    color: #024e76;
    width: 100%;
    margin-bottom: 0.9375em;
}

.hero-form label {
    margin: 0 0.3125;
}

.hero-form button {
    color: #fce138;
    background-color: #024e76;
    border: none;
    padding: 0.625em 1.25em;
    font-size: 1em;
}
/* Hero Style End */

